@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.bkgnd {
    border-radius: 1em;
    margin-top: 150px;
    padding-left: .5em;
    padding-right: .5em;
}

.nav-black-text a{
    color: black;
}

.process{
    background-color: black;
    color: white;
}

.process .card{
     background-color: #090909;
     border-radius: 0.65em;
}


.process .card-content{
    margin-bottom: 0px;
}

.process p{
    color: white;
}
.process h5{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #090909;
    border-radius: 0.65em;
}
.process h1{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #090909;
    border-radius: 0.65em;
}
.process input{
    color: white;
}
.process input[type=number]{
    color: white;
    width: 2.25em;
}
.spanhead{
    font-size: x-large;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
}
.spanborder{
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0.75em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-bottom: 0.125em;
}
.round{
    font-size: large;
}